.home-buttons {
  justify-content: space-evenly;
  margin-top: 2em;
  flex-direction: row;
}

.text-content {
  margin: 2em 1em 2em;
}

.home-container {
  display: flex;
  justify-content: center;
}

.home-image {
  width: 13em;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.image-github {
  width: 2em;
  clip-path: circle(50%);
}

.footer{
  position: absolute;
  width: 100%;
}