@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #da4871;
  --pink-hover: #f43e89;
  --white: #f9f9f9;
  --brown: #1f171a;
}

body {
  font-family: "Alice", sans-serif;
  background-color: var(--brown);
  color: var(--white);
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-logo {
  margin-top: 2em;
  width: 7em;
}

.button {
  color: var(--white);
  background-color: var(--pink);
  padding: 4px 33px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: var(--pink-hover);
  color: var(--brown);
}

.text-participate {
  margin-top: 2em;
  display: flex;
  font-size: smaller;
  align-items: center;
  justify-content: space-evenly;
}

.subtitle {
  color: var(--pink);
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.input-names {
  width: 80%;
  padding: 5px 5px;
  margin: 0.5em 2em;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.login-enter {
  margin-top: 1em;
}

.text-forgot {
  margin: 1em auto;
}

.links {
  color: var(--pink);
  text-decoration: none;
}

.button-google {
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
}

.text-google {
  margin-right: 1em;
}
.google-img {
  width: 1.5em;
  display: flex;
  align-items: center;
}

.back-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.back-home {
  color: var(--white);
  padding: 20px;
}

.register-enter > p,
.register-enter > button {
  margin-top: 1em;
}

.error-message {
  margin-top: 2em;
}

.reset-text {
  margin: auto 1em 1em;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.text-reset {
  margin-bottom: 1em;
}

.feedback {
  display: flex;
  justify-content: center;
}

.feedback.send {
  color: green;
}

.feedback.error {
  color: red;
  margin-top: 1em;
}

.credit-name {
  color: var(--pink);
  display: flex;
  justify-content: space-around;
}

.credit {
  flex-wrap: wrap;
}
